<div class="user-details">
    <h1> Mijn websites </h1>
    <p> {{site.user_description}} </p>
  </div>
    <div class="user">
      <div class="tech">
        <h2><a class="link" href="https://werkgevers.tristanhollander.nl">Werkgevers</a></h2>
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>Hier vind je een compleet overzicht van mijn eerdere werkgevers!</p>
      </div>
      <div class="tech">
        <h2><a class="link" href="https://contact.tristanhollander.nl">Contactforumilier</a></h2>
        <i class="fa fa-id-card" aria-hidden="true"></i>
        <p>Hier kun je eenvoudig een berichtje naar mij versturen! Hierna zal ik uiteraard contact met je opnemen.</p>
      </div>
    <!--  <div class="blog">
        <h2><a class="link" href="https://blog.tristanhollander.nl/">Artikelen</a></h2>
        <i class="fa fa-th-list" aria-hidden="true"></i>
        <p>De artikelen pagina is nog in opbouw. Uiteraard kun je alvast een sneak peak nemen ;)</p>
      </div> 
      </div>
  </div>
  