<div class="user-details">
  <h1> WERKGEVERS </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="logo" src="{{ "/assets/img/cvps.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CloudVPS </h3>
    <ul>
      <li> Onderdeel Team.Blue</li>
      <li> Begonnen per 02-02-2021</li>
    </ul>
    <p>Dit is mijn aller eerste baan in de IT! Na een half jaar stage gelopen te hebben bij CloudVPS en totaal een jaar werkervaring verder, heb ik een hoop geleerd over OpenStack, het behandelen van tickets, het omgaan met klanten en het omgaan met Linux distro’s. Al om een leuke leerzame tijd dus!</p>
    <a class="project-link" target="_blank" href="https://www.cloudvps.nl/">Ga naar de website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="logo" src="{{ "/assets/img/TIP2.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> TransIP </h3>
    <ul>
      <li> Onderdeel Team.Blue </li>
      <li> Begonnen per 16-05-2022</li> 
    </ul>
    <p>Bij TransIP heb ik mijn eerste bedrijfsfusie meegemaakt. TransIP is gefuseerd met CloudVPS. Hierin heb ik veel nieuws geleerd over alle producten en over de andere bedrijfscultuur.</p>
    <a class="project-link" target="_blank" href="https://www.transip.nl/">Ga naar de website</a>
  </div>
</div>
